<div>
    <ul class='list-group'>
        <li class='list-group-item'>
            <button class="btn btn-block btn-defau1lt" ng-click='openTest()'>Test</button>
            <button class="btn btn-block btn-defa1ult" ng-click='openProd()'>Prod</button>
            <!--input type='text' ng-blur='testAtController()' ng-model='someid'></input-->
        </li>
    </ul>
</div>
<!--div>
    <ul class='list-group'>
        <li class='list-group-item'>
        <form name='someName'>
            <input type="number" class="form-control" ng-model="phNumber"  placeholder="p n" ng-blur='appValidate()'>
            <span ng-hide='validphnum.valid'>{{validphnum.msg}}</span>
            <input type="password" class="form-control" ng-model="pwd"  ng-blur='appValidate()' placeholder="p  w">
            <span ng-hide='validpwd.valid'>{{validpwd.msg}}</span>
            <input type="password" class="form-control" ng-model="cpwd"  ng-blur='appValidate()' placeholder="c p  w">
            <span ng-hide='validcpwd.valid'>{{validcpwd.msg}}</span>
            <input type="text" class="form-control" ng-model="address"   placeholder="add 30 Charac">
            <input type="text" class="form-control" ng-model="locId"  ng-blur='appValidate()' placeholder="customid">
            <span ng-hide='validid.valid'>{{validid.msg}}</span>
            <input type="text" class="form-control" ng-model="searchTxt"   placeholder="search 4 Char Atleast">
            <!--input type='text' ng-blur='testAtController()' ng-model='someid'></input
        </form>
        </li>
        <li class='list-group-item'>
            <button class="btn btn-block btn-defau1lt" ng-click='appValidate()'>Validate</button>
        </li>
    </ul>
</div-->


