<div class='col-lg-6 col-md-6 col-sm-6'>
    <ul class='list-group'>
    <li class='list-group-item'>
        <div class='profilemapContainer'>
            <div id="profileMap"></div>
        </div>
    </li>
    <li class='list-group-item'>
        <button class='btn btn-block btn-warning' ng-click='backToMap()'>Not correct Location ? Go Back</button>
    </li>
</ul>
</div>
<div class='col-lg-6 col-md-6 col-sm-6'>
    <div class="panel panel-primary">
      <!--div class="panel-body">
        <h2 class="panel-title">Provide Mobile Number &amp; Password for security</h2>
      </div-->
        <div class="form-group">
            <div class="panel-body">
            <div class='row'>
                <div class='col-lg-4 col-md-4 col-sm-4'>
                    <label class="control-label">Your Mobile Number</label>
                </div>
                <div class='col-lg-8 col-md-8 col-sm-8'>
                     <div class="input-group">
                        <span class="input-group-addon">{{country}}</span>
                        <input class="form-control" type="number" ng-model='mobNumber' />
                    </div>
                </div>
            </div>
            <div class='row'>

                <div class='col-lg-4 col-md-4 col-sm-4'>
                    <label class="control-label">Enter Password <small>(Alphanumeric 6-10 Characters)</small></label>
                </div>
                <div class='col-lg-8 col-md-8 col-sm-8'>
                        <input class="form-control" type="password" ng-model='sPin' />
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-4 col-md-4 col-sm-4'>
                    <label class="control-label">Please Retype Password</label>
                </div>
                <div class='col-lg-8 col-md-8 col-sm-8'>
                        <input class="form-control" type="password" ng-model='csPin'>
                </div>
            </div>
            </div>
            <!--div class="panel-body"-->
            <div class='row'>
                    <div class='col-lg-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-offset-1 col-lg-12 col-md-12 col-sm-12'>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model='acceptance' ng-checked='accepted()'> I accept <a>Terms &amp; Conditions</a></input>
                          </label>
                        </div>
                    </div>
            </div>
            <!--/div-->
            <div class="panel-body">
                <div class='row'>
                    <div class='col-lg-12 col-md-12 col-sm-12'>
                        <a id="savebutton" class='btn btn-success btn-block' ng-click='goToMapPage()'>Continue to Choose Location</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>